
<div style= "margin-inline: 20px auto;">
<h1> Stupid Coach </h1>
	<form action="/answer" method="get">
		<input type="text" name="question" placeholder="Ask a question" value="<%= params[:question] %>" >
		<input type="submit" value="Ask!" style = "background-color:rgba(39, 171, 245, 0.83)">
	</form>
</div>